*{
    padding: 0;
    margin: 0;
}
.navbar{

    margin-top: 1.2rem;
    justify-content: space-between;
    display: flex;
    /* background-color: fuchsia; */
}
.navbar h1{
    margin-left: 2rem;
    font-size: 3rem;
    color: blueviolet;
}
.search-bar{
    display: inline-flex;
    justify-content: space-between;
    gap: .5rem;
}
.search{
    margin: 0;
    padding: 1rem;
    box-sizing: border-box;
    height: 3rem;
    width: auto;
    max-width: 600px;
    outline: none;
    font-size: 1.5rem;
    font-weight: 15px;
    border: 2px solid blueviolet;
}
.search-bar button{
    padding: 3px;
    height: 3rem;
    border: 2px solid blueviolet;
    background-color: blue;
    font-weight: 15px;
  
    
}

.navbar .list {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    gap: 1.2rem;
    list-style-type: none;
    font-size: 2rem;
    font-style: bold;
}
.navbar .list a{
    cursor: pointer;
    text-decoration: none;
}
